@font-face 
  font-family: 'my-icon'
  src:  url('../fonts/my-icon.eot?wl8cpd')
  src:  url('../fonts/my-icon.eot?wl8cpd#iefix') format('embedded-opentype'),
    url('../fonts/my-icon.ttf?wl8cpd') format('truetype'),
    url('../fonts/my-icon.woff?wl8cpd') format('woff'),
    url('../fonts/my-icon.svg?wl8cpd#my-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'my-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-circle-left:after
  content: "\ea44"
  
.icon-circle-right:after
  content: "\ea42"
  
.icon-cut:after
  content: "\e90a"
  
.icon-rotate:after
  content: "\e907"
  
.icon-thumb_down:after
  content: "\e909"

.icon-minus-info:after
  content: "\ea0c"

.icon-shopping_cart:after
  content: "\e908"

.icon-add_circle:after
  content: "\e903"

.icon-close:after
  content: "\e904"

.icon-thumb_horn:after
  content: "\ea26"

.icon-check-checklist:after
  content: "\e900"
  
.icon-triangle-down:after
  content: "\e901"

.icon-prev:before
  content: "\e902"
  
.icon-next:before
  content: "\e903"
  
.icon-more:before
  content: "\e903"
  
.icon-prev:after
  content: "\e902"
  
.icon-next:after
  content: "\e903"
  
.icon-eye:before
  content: "\e905"

.icon-cion:before
  content: "\e93e"

.icon-undo:before
  content: "\e967"
  
.icon-redo:before
  content: "\e968"
  
.icon-save:before
  content: "\e906"