border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ''
  
    
btn($bgColor)
  display inline-block
  width 66px
  height 63px
  position absolute
  top 50%
  margin-top -33px
  font-size 60px
  color #666
  border 1px solid transparent
  border-radius 4px
  padding-top 5px
  &:hover
    // border 1px solid #ccc
    color #000
  &:before
    position absolute
    left 1px
    color $bgColor
  &.icon-next
    right 0px
    &:before
      position absolute
      right 7px
      left auto
 
border-none()
  &:after
    content ''
    display none

bg-image($url)
  background-image: url($url + "@2x.png")
  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")
  